<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PreCampus Student Registration</title>
    <link rel="stylesheet" href="/css/studentReg.css" />
  </head>
  <body>
    <div class="container">
      <div class="left-side">
        <h1>Welcome to PreCampus</h1>
        <p>PreCampus is a leading online platform that helps students prepare
          for their academic journey.</p>
        <p>Our mission is to provide quality education and resources to help
          students achieve their goals.</p>
      </div>
      <div class="right-side">
        <div class="form-container">
          <h1>Student Registration</h1>

          <form
            id="studentregistrationform"
            action="/auth/studentReg"
            method="POST"
          >

            <div class="form-group">
              <label for="studentfirstname">Full Name</label>
              <input
                type="text"
                id="studentfirstname"
                name="studentfirstname"
                placeholder="Enter your Full name"
                required
              />
            </div>
            
            <div class="form-group">
              <label for="studentemail">Email</label>
              <input
                type="email"
                id="studentemail"
                name="studentemail"
                placeholder="Enter your email"
                required
              />
            </div>

            <div class="form-group">
              <label for="studentphonenumber">Phone Number</label>
              <input
                type="text"
                id="studentphonenumber"
                name="studentphonenumber"
                placeholder="Enter your phone number"
                required
              />
            </div>

            <div class="form-group">
              <label for="studentusername">Username</label>
              <input
                type="text"
                id="studentusername"
                name="studentusername"
                placeholder="Enter your username"
                required
              />
            </div>

            <div class="form-group">
              <label for="studentpassword">Password</label>
              <input
                type="password"
                id="studentpassword"
                name="studentpassword"
                placeholder="Enter your password"
                required
              />
            </div>

            <div class="form-group">
              <label for="studentpasswordconfirm">Confirm Password</label>
              <input
                type="password"
                id="studentpasswordconfirm"
                name="studentpasswordconfirm"
                placeholder="Enter your password"
                required
              />
            </div>
            <div>
              {{#if message}}
                <h4 class="alert">{{message}}</h4>
              {{/if}}
            </div>
            <button type="submit" id="studentregisterBtn">Register</button>
          </form>
        </div>
      </div>
    </div>

    <script src="studentScript.js"></script>
  </body>
</html>